body {
    font-family: sans-serif;          
    margin: 0;                       
    background-color: #efe1d5;      
    color: #333;                   
    font-size: 14px;                
}

body {
  font-family: Arial, sans-serif; 
  background-color: #efe1d5; 
}

/* --------------- */


@media screen and (max-width: 600px) {
  body {
    background-color: #efe1d5; 
  }
  .container {
    width: 95%; 
  }
  h1 {
    font-size: 1.5em; 
  }
}

/* ----------------- */

@media screen and (min-width: 1200px) {
  body {
    background-color: #efe1d5; 
  }
  .container {
    width: 1100px; 
  }
  h1 {
    font-size: 3em; 
  }
}

.grid-container {
    display: grid;                   
    grid-template-columns: 3fr 1fr;
    gap: 20px;                       
    padding: 20px;                   
    max-width: 2000px;               
    margin: 80px auto;               
    background-color: #da8686;          
    border-radius: 8px;              
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-style: dashed;
}


.main-content, .sidebar {
    background-color: #f9f9f9;       
    padding: 20px;                  
    border-radius: 6px;  
    border-style: dotted;            
}


header, footer {
    text-align: justify;              /* Sentrerer teksten i både header og footer */
    padding: 5px;                   /* Legger til litt polstring */
    background-color: #333;          /* Setter en mørk bakgrunn */
    color: white;                    /* Sørger for at teksten er hvit */
}


/* Styler navigasjonsmenyen */
nav ul {
    list-style-position:justify;               /* Fjerner standard punkter fra listen */
    padding: 0;                      /* Fjerner standard polstring fra listen */
    display: flex;                   /* Bruker Flexbox for å plassere listeelementene på en rad */
    justify-content: center;         /* Sentrerer listeelementene horisontalt */
    gap: 20px;                       /* Legger til 20px mellomrom mellom hvert listeelement */
}

/* Styler lenkene i navigasjonsmenyen */
nav a {
    color: white;                    /* Setter lenkefargen til hvit */
    text-decoration: none;           /* Fjerner understreken fra lenkene */
}